<header class="jumbotron text-center">
  <h1>Words of the Day</h1>
  <h3>click on the word to go to the definition!</h3>
  <hr/>
  <ul class="list-group">
    <% @words.each do |word| %>
      <a href="<%= word.dig(:definition_url) %>" class="list-group-item list-group-item-info">
        <strong class="word"><%= word.dig(:text) %></strong>
        <small class="word-source">from <%= word.dig(:source) %></small>
      </a>
    <% end %>
  </ul>
</header>