<header class="jumbotron text-center">
  <h1>Word of the Day</h1>

  <hr/>
  
  <% @words.each do |word| %>
  <div>
    <h3><%= word %>:</h3>
    <p>definition</p>
  </div>
  <% end %>

  <hr/>

  <input type="date" value="2018-07-22" aria-label="date">

  <button class="btn btn-info btn-lg">Go!</button>
</header>