<header class="jumbotron text-center">
  <h1>Word of the Day</h1>

  <hr/>
  
  <div>
    <h3>the wurd:</h3>
    <p>definition</p>
  </div>

  <hr/>

  <input type="date" value="2018-07-22" aria-label="date">

  <button class="btn btn-info btn-lg">Go!</button>
</header>